<a href="https://colab.research.google.com/github/RomalPatel28/Romal_INFO5731_Fall2021/blob/main/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/01/2021, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [29]:
Programming = "I want to become a developer after my graduation."
print(len(Programming))

49

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
def total_count(sample_string): # total_count function will calculate the numbers of characters in a string
  dict = {}
  for letter in sample_string:
    dict_keys = dict.keys()
    if letter in dict_keys:
      dict[letter] = dict [letter] + 1
    else:
        dict[letter] = 1
  return dict
print(total_count('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [ ]:
def list1 (items1):
  sum_items1 = 0
  for r in items1:
    sum_items1 += r
  return sum_items1 
print(list1([54,75,26,48,6,552,32]))

793

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
def new_string(sample_string):
  letter = sample_string[0]
  sample_string = sample_string.replace(letter,'$')
  sample_string = letter + sample_string [1:]
  return sample_string
print (new_string('restart'))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [11]:
def formula(a,b):
  return 3.14*(1+a/b)**3
formula (5,8)

13.4737890625

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1= {1:10, 2:20}
dic2 = {3:30, 4:40}
dic3 = {5:50,6:60}
dic4 = {}

for expected_dic in (dic1, dic2, dic3):
  dic4.update(expected_dic)
print (dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [ ]:
tuple_romal = ("flower", "11449539", "boy", "python", "info5731", "computer3")
print ("computer3" in tuple_romal)
print ("11449539" in tuple_romal)
print ("0" in tuple_romal)

True
True
False

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [27]:
set_value = {3,7,12,34,2,9} 
print (max(set_value))
print (min(set_value))

34
2

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
           'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']

In [25]:
import random
student_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995',
                'at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']
for r in range(6):
  i = random.randint(6,6)
  sublist = random.choices(student_list, k=i)
  student_list= [r for r in student_list if r not in sublist]
  print(sublist)

['pn0159', 'pn0159', 'pk0339', 'msp0174', 'rs0850', 'hn0145']
['vmb0067', 'bk0301', 'at0768', 'at0739', 'nm0547', 'mn0426']
['ttp0037', 'pc0353', 'pc0353', 'yye0005', 'hc0439', 'pc0353']
['py0080', 'vl0135', 'dy0091', 'rak0120', 'dd0420', 'spk0057']
['snd0097', 'sg0940', 'tv0119', 'ds0761', 'ss1995', 'rrk0058']
['mv0299', 'ri0094', 'ri0094', 'ri0094', 'mv0299', 'mv0299']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [15]:
integers_array = [5,34,5,12,77,34,94]

# Using the duplicate function to find out the duplicate elements 
def duplicates(dup_array):
  return set ([r for r in dup_array if dup_array.count(r)>1]) # if the count of an element is more than 1 then return that value
print(duplicates(integers_array))

{34, 5}

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [10]:
from datetime import date, timedelta
# I have picked the year 2010
year = 2010

first_date = date(year, 1, 1)
first_date = first_date + timedelta(days = 6 - first_date.weekday())  
while first_date.year == year:
  print (first_date)
  first_date = first_date + timedelta(days = 7)

2010-01-03
2010-01-10
2010-01-17
2010-01-24
2010-01-31
2010-02-07
2010-02-14
2010-02-21
2010-02-28
2010-03-07
2010-03-14
2010-03-21
2010-03-28
2010-04-04
2010-04-11
2010-04-18
2010-04-25
2010-05-02
2010-05-09
2010-05-16
2010-05-23
2010-05-30
2010-06-06
2010-06-13
2010-06-20
2010-06-27
2010-07-04
2010-07-11
2010-07-18
2010-07-25
2010-08-01
2010-08-08
2010-08-15
2010-08-22
2010-08-29
2010-09-05
2010-09-12
2010-09-19
2010-09-26
2010-10-03
2010-10-10
2010-10-17
2010-10-24
2010-10-31
2010-11-07
2010-11-14
2010-11-21
2010-11-28
2010-12-05
2010-12-12
2010-12-19
2010-12-26